---
import Layout from "../layouts/Layout.astro";

const socials = [
  {
    name: "Email",
    url: "mailto:ben@bleikamp.com",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/bleikamp/",
  },
  {
    name: "read.cv",
    url: "https://read.cv/bleikamp",
  },
  {
    name: "X (née Twitter)",
    url: "https://twitter.com/bleikamp",
  },
  {
    name: "GitHub",
    url: "https://github.com/bleikamp",
  },
];
---

<Layout title="ben bleikamp · software designer">
  <div
    class="md:grid grid-cols-4 gap-24 md:my-16 my-16 dark:text-neutral-200 text-neutral-900"
  >
    <h2 class="col-span-4 font-extrabold mb-12 md:mb-0">Work</h2>
    <h4 class="col-span-1 my-4 md:my-0">Now</h4>
    <div class="col-span-3 mb-12 md:mb-0">
      <p>
        I'm a co-founder at Cased. We're working with language models and AI to
        build tools for DevOps teams.
      </p>
    </div>
    <h4 class="col-span-1 my-4 md:my-0">
      Meta<br />
      <span class="font-normal">2017-2018</span>
    </h4>
    <p class="col-span-3 mb-12 md:mb-0">
      I led the team building internal design tools and infrastructure. We were
      responsible for <a href="https://origami.design">Origami Studio</a>
      as well tools for distributing and maintaining design systems, collaborating
      on design work, and improving quality across design and engineering.
    </p>
    <h4 class="col-span-1 my-4 md:my-0">
      GitHub <br /><span class="font-normal">2011-2017</span>
    </h4>
    <div class="col-span-3 mb-12 md:my-0">
      <p>
        I joined as one of the first product designers. From 2014-2016 I led the
        design team as Director of Product Design and in 2017 I helped start the
        product management team as Director of Product.
      </p>
      <p>
        During my time at GitHub I led design and product for areas like mobile,
        organizations, security, and enterprise.
      </p>
    </div>
    <h4 class="col-span-1 my-4 md:my-0">
      Various<br />
      <span class="font-normal">2007-2011</span>
    </h4>
    <p class="col-span-3">
      I worked at Yelp as an early product manager and was the first designer
      hired at Bleacher Report. As a freelancer I built WordPress sites for
      people like <a href="https://en.wikipedia.org/wiki/Tim_Ferriss"
        >Tim Ferriss</a
      >
      and
      <a href="https://en.wikipedia.org/wiki/Ramit_Sethi">Ramit Sethi</a>.
    </p>
    <ul
      class="col-span-4 mt-6 pt-6 border-t dark:border-neutral-600 border-neutral-300"
    >
      {
        socials.map((social) => (
          <li class="md:inline-block md:mr-4 text-sm">
            <a href={social.url}>{social.name}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
