---
import Layout from "../layouts/Layout.astro";
import Shader from "../components/Shader.astro";
---

<Layout>
  <div
    class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 font-mono text-sm w-[30vw] mx-auto"
  >
    <h1 class="font-medium tracking-widest uppercase">~/ Ben Bleikamp</h1>
    <p class="uppercase tracking-widest">?/ Software design & strategy</p>
    <p class="uppercase tracking-widest mb-12">@/ hello_world@bleikamp.com</p>
    <Shader />
  </div>
</Layout>
