---
import Layout from "../layouts/Layout.astro";

const socials = [
  {
    name: "Email",
    url: "mailto:ben@bleikamp.com",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/bleikamp/",
  },
  {
    name: "read.cv",
    url: "https://read.cv/bleikamp",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/bleikamp",
  },
  {
    name: "Mastodon",
    url: "https://indieweb.social/@bleikamp",
  },
  {
    name: "GitHub",
    url: "https://github.com/bleikamp",
  },
];
---

<Layout title="ben bleikamp · software designer">
  <p>
    I'm a professional software designer, amateur programmer, and co-founder at <a
      href="https://cased.com">Cased</a
    >.
  </p>
  <p>
    I spent a decade in San Francisco building tools for developers and
    designers at GitHub and Meta. Now I live in Colorado, still building tools
    for designers and developers.
  </p>
  <h3>CV-ish</h3>
  <p>
    I joined GitHub in 2011 as one of the first 20 employees and an early
    product designer. Eventually I led the design team as Director of Product
    Design and started the product management team as Director of Product.
  </p>
  <p>
    I left GitHub in 2017 and joined Meta to lead a team building design tools
    and infrastructure. The team is responsible for <a
      href="https://origami.design">Origami Studio</a
    > as well as many internal tools.
  </p>
  <p>
    Before all that I worked at Yelp as an early product manager and was the
    first designer hired at Bleacher Report. In college I made beer money
    building WordPress sites for people like <a
      href="https://en.wikipedia.org/wiki/Tim_Ferriss">Tim Ferriss</a
    > and
    <a href="https://en.wikipedia.org/wiki/Ramit_Sethi">Ramit Sethi</a>.
  </p>
  <p>
    Right now I'm a co-founder at Cased and I write small angel checks to
    founders who are building new tools.
  </p>
  <h3>Find me on the 'net</h3>
  <ul class="lg:space-x-6">
    {
      socials.map((social) => (
        <li class="lg:inline-block">
          <a href={social.url}>{social.name}</a>
        </li>
      ))
    }
  </ul>
</Layout>
