---
import Layout from "../layouts/Layout.astro";
import Shader from "../components/Shader.astro";
import Shader2 from "../components/Shader2.astro";
---

<Layout>
  <div
    class="min-h-screen flex flex-col justify-center font-mono text-sm w-full max-w-[800px] p-12 mx-auto"
  >
    <h1 class="font-semibold tracking-widest uppercase">Ben Bleikamp</h1>
    <p class="font-light uppercase tracking-widest mb-12">
      Software designer & builder
    </p>
    <Shader />
    <div class="mt-12">
      <div class="uppercase tracking-widest font-semibold mb-6">Now</div>
      <div class="col-span-9 leading-relaxed mb-12">
        Co-founder at <a href="http://cased.com">Cased</a> in Mill Valley, California.
        Currently into gravel bikes, skiing, and woodworking.
      </div>
      <div class="uppercase tracking-widest font-semibold mb-6">Recently</div>
      <div class="flex flex-col gap-6 leading-relaxed mb-12">
        Spent a few years in Colorado skiing, hiking, and golfing. Before that a
        decade in San Francisco working at start ups.
      </div>
      <div class="uppercase tracking-widest font-semibold mb-6">Work</div>
      <div class="flex flex-col gap-6 leading-relaxed mb-12">
        <p>I've been designing and building software for 15 years.</p>
        <p class="col-span-9 leading-relaxed">
          At Cased, we're building tools that help developers work with
          infrastructure. We're backed by Founders Fund, Sancus, GTM Fund, and
          other great investors.
        </p>
        <p>Previously, I worked at:</p>
        <div>
          <div>Meta, 2017-2018</div>
          <div>GitHub, 2011-2017</div>
          <div>Yelp, 2009-2011</div>
          <div>Bleacher Report, 2008-2009</div>
        </div>
      </div>
      <div class="uppercase tracking-widest font-semibold mb-6">Say hi</div>
      <div class="col-span-9 leading-relaxed mb-12">
        Drop me a line: ben@bleikamp.com
      </div>
    </div>
  </div>
</Layout>
