---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import "../styles/base.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : "Ben Bleikamp"}</title>
  </head>
  <body class="p-12 bg-[#090909]">
    <div class="max-w-3xl mx-auto">
      <header class="border-b border-zinc-600 pb-12 space-y-2">
        <h1 class="font-bold text-xl text-zinc-200 col-span-1">Ben Bleikamp</h1>
        <div class="col-span-3">
          <h2 class="text-lg text-zinc-300">
            Professional software designer, decent programmer, lazy investor,
            co-founder of <a href="https://cased.com">Cased</a>
          </h2>
        </div>
      </header>

      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
