---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import ShaderBackground from "../components/ShaderBackground.jsx"
import "../styles/base.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : "Ben Bleikamp"}</title>
  </head>
  <body class="p-12 dark:bg-[#090909] bg-neutral-50">
    <div class="max-w-3xl mx-auto">
      <header
        class="relative z-10 border-b dark:border-neutral-900/10 border-neutral-900/10 py-24 space-y-2"
      >
        <h1
          class="font-light italic tracking-widest mb-8 font-mono uppercase text-6xl md:text-8xl dark:text-neutral-200 text-neutral-900 col-span-1"
        >
          Ben Bleikamp
        </h1>
        <div class="col-span-3">
          <h2 class="text-2xl md:text-3xl font-light leading-relaxed md:leading-relaxed font-mono dark:text-neutral-900/70 text-neutral-900/70">
            Professional software designer, decent programmer, lazy investor,
            co-founder of <a href="https://cased.com">Cased</a>
          </h2>
        </div>
      </header>
      <ShaderBackground client:only="react" />
      <main class="relative z-10">
        <slot />
      </main>
    </div>
  </body>
</html>
