---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import "../styles/base.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : "Ben Bleikamp"}</title>
  </head>
  <body class="p-12">
    <div class="max-w-3xl mx-auto">
      <header class="mb-6 md:flex">
        <h1
          class="font-semibold text-xl mb-2 w-48"
        >
          Ben Bleikamp
        </h1>
        <div>
            <h2 class="text-xl text-zinc-600">Professional software designer</h2>
            <h2 class="text-xl text-zinc-600">Okay programmer</h2>
            <h2 class="text-xl text-zinc-600">Co-founder of <a href="https://cased.com">Cased</a></h2>
        </div>
      </header>

        <main>
          <slot />
        </main>

    </div>
  </body>
</html>
